body {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  text-align: center;
  font-size: 46px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left_taskbar {
  width: 130px;
  height: 100vh;
  background-color: bisque;
  position: fixed;
  left: -120px;
  transition: transform 0.5s ease-in-out;
}

.left_taskbar:hover {
  transform: translateX(120px);
}

.project_items {
  position: absolute;
  list-style: none;
}

.project_items li{
  margin: 30px -10px;
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 50%;
}

.project_items a:nth-child(1) li {
  background-image: url("img/grizzlies.png");
}

.project_items a:nth-child(2) li {
  background-image: url("img/pacers.png");
}

.explain {
  width: 80%;
  height: 50vh;
  position: relative;
  left: 10%;
  top: 25vh;
}

.explain div {
  position: absolute;
  height: 50vh;
  width: 31%;
  font-size: 19px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 2;

}

.explain div:nth-child(1) {
  left: 0;
}

.explain div:nth-child(2) {
  left: 350px;
}

.explain div:nth-child(3) {
  left: 700px;
}

.decorate {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20%;
  background-color: aquamarine;
  width: 60%;
  text-align: center;
}

.decorate input {
  position: absolute;
  width: 80%;
  left: 0;
  border: 1px salmon solid;
}
.decorate button {
  position: absolute;
  right: 0;
  width: 10%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}